
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Russo+One&display=swap');


.thumb-text {
  background-image: url("./assets/Image-11.png");
  height: 65vh;
  background-size: cover;
  background-position: center;
}

.thumb-text-2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  height: 35vh;
}

.thumb-text-3 {
  /* font-size: 110px; */
}

.fun-text{
    background-image: linear-gradient(to right, #273c90,#3963d5);
    
    height: auto;
    margin-top: -5;
    z-index: 0;
}

.fun-text-h1{
  color: #fec35b;
}

.russo{
  font-family: 'Russo One', sans-serif;
  display: block;
  font-size: 150%;
}

.robboto{
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  font-size: 150%;
}

.laptop-img{
  height: 95px;
  margin-left: 35%;
}


.text-pr {
  position: relative;
  /* margin-top: -2px; */
  font-size: 23px;
  padding: 1%;
  z-index: 1;
}

.text-pr::before {
  content: '';
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 38%;
  background-image: linear-gradient(to right, #273c90,#3963d5);
  z-index: -1;
}


